.game-container {
    width: 100%;
    min-height: 700px;
    min-width: 340px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-box {
    width: 70%;
    min-width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.group {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    width: 24%;
    min-width: 60px;
    min-height: 60px;
    margin: 0px 4px;
    border: 1px solid green;
}

.remaining-guesses {
    margin: 20px 0 0 0;
}

.one-away {
    margin: 10px 0;
    text-align: center;
    width: 100px;
    height: 20px;
}

.buttons-box {
    margin: 20px 0;
}

.correct-answer {
    border: 2px solid blue;
    width: 99%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.correct-answer h3, .correct-answer h5 {
    padding: 3px;
    margin: 0;
}